
<app-navbar-style-one></app-navbar-style-one>

<div class="service-dtls-slider owl-carousel owl-theme">
    <div class="service-dtls-item">
        <img src="assets/img/prog.jpg" alt="Images">
        <div class="image-content" ><h1> Onsite Courses </h1></div>
        <div class="bottom-left"><a routerLink="/" style="color: black;">Home</a></div>
    </div>

    <div class="service-dtls-item">
         <img src="assets/img/u5.jpg" alt="Images">
         <div class="image-content" ><h1> Onsite Courses </h1></div>
        <div class="bottom-left"><a routerLink="/" style="color: black;">Home</a></div>
    </div>
</div>
<!-- 
<div class="inner-banner inner-bg9">
    <br><br>
    &nbsp;
    <div class="container">
        <div class="inner-title">
            <h3>Onsite Courses</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<br><br> -->

<div class="service-dtls pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-dtls-slider owl-carousel owl-theme">
                    <div class="service-dtls-item">
                        <img src="assets/img/prog.jpg" alt="Images">
                    </div>

                    <div class="service-dtls-item">
                         <img src="assets/img/yp.jpg" alt="Images">
                    </div>
                </div>

                <div class="service-dtls-title">
                    <!-- <h3>Brochure Content</h3>
                    <p>You have to  create a separate brochure for  online and on-site courses
                    </p> -->
                    <!-- <p>Phasellus rhoncus erat tempus neque molestie, sit amet mollis libero eleifend. Mauris ac justo pulvinar, ultricies elit a, tempor orci. Integer egestas nulla ac finibus hendrerit. Integer molestie elit ac lacus hendrerit, ut posuere nisi cursus. In hac habitasse platea dictumst. Nam rhoncus nisl lorem, vel semper nunc fringilla non. Maecenas aliquam molestie enim, sed suscipit dui suscipit at. Vivamus nunc elit, porttitor et risus eu, dignissim iaculis ante.Suspendisse a tellus vitae lorem tristique finibus. Suspendisse non leo non maurisposuere tempor non vitae risus. Cras non feugiat odio.</p>
                    <p>Praesent auctor aliquet neque non maximus.Cras a aliquet sapien. Praesent luctus libero et ultrices pharetra. Donec at mattis diam. Interdum et malesuada fames ac ante ipsum primis in faucibus.Curabitur urna velit, luctus ac ligulasit amet, eleifend faucibus libero.</p> -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-sidebar">
                    <div class="service-sidebar-widget">
                        <h3>ENTERPRISE SOFTWARE CONSULTANT</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">Microsoft power Platform 
                                </a>
                            </li>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">Microsoft  Dynamic 365
                                </a>
                            </li>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">Microsoft .NET core with angular
                                </a>
                            </li>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">Web Development 
                                </a>
                            </li>
                            <!-- <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">T-shirt Design</a>
                            </li>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <a href="#">Cover Van Design</a>
                            </li> -->
                        </ul>
                    </div>

                    <div class="service-sidebar-widget">
                        <h3>Placement
                        </h3>
                        
                        <ul>
                            <li>
                                <i class='bx bxs-chevrons-right'></i>
                                <!-- <i class='bx bxs-map'></i> -->
                                6-month training 
                                salary up to 4 lakhs per annum 
                            
                            </li>
                            <li>
                                <!-- <i class='bx bxs-phone-call'></i> -->
                                <a href="tel:+19876543210">
                                    <i class='bx bxs-chevrons-right'></i>
                                    Designation: ENTERPRISE SOFTWARE CONSULTANT 

                                </a> 
                            </li>
                            <!-- <li>
                                <i class='bx bxl-telegram'></i>
                                <a href="mailto:hello@dizo.com">hello@dizo.com</a>
                            </li> -->
                        </ul>
                    </div>

                    <!-- <div class="service-sidebar-tag">
                        <h3>Tags</h3>

                        <ul>
                            <li><a routerLink="/">T-shirt</a></li>
                            <li><a routerLink="/">Cover</a></li>
                            <li><a routerLink="/">Great</a></li>
                            <li><a routerLink="/">Print Media</a></li>
                            <li><a routerLink="/">Hoodie Design</a></li>
                            <li><a routerLink="/">Design</a></li>
                            <li><a routerLink="/">Mug Design</a></li>
                        </ul>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>
    <div class="row pt-45 ">
        <div class="col-lg-6">
            <div class="onsite-card">
               
                 <!-- <mdb-icon fas icon="code"></mdb-icon>  -->
                
                
                <h3>Data Science </h3>
                 <!-- <box-icon name='chalkboard' ></box-icon>  -->
                <!-- <span>Product Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <p style="text-align:left;">Data science training focuses on analyzing and testing the core concepts of data sciences, right from the elementary concepts such as statistics, data management and analytics to advanced topics like neural networks and machine learning and R programming. Data science continues to evolve as one of the most promising and in-demand career paths for skilled professionals. Today, successful data professionals understand that they must advance past the traditional skills of analysing large amount of data, data mining, and programming skills. 
                    <!-- //In order to uncover useful intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle and possess a level of flexibility and under -standing to maximize returns at each phase of the process.  -->

                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="onsite-card">
               
                <h3>Microsoft Dynamics 365 </h3>
                <!-- <span>Product Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <p style="text-align:left;">Microsoft Dynamics 365 is the next generation of intelligent business applications that run organizations and allow them to grow and transform.D365 combines CRM  and ERP capabilities to execute business functions across domains such as sales, Operations, Financial, Field Service, Project Service Automation, Marketing, and Customer Insights. The Dynamics 365 applications can be combined with the Microsoft office 365 tools like Excel and Outlook, analysis tools like Power BI and customization tools like flow. 
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="onsite-card">
               
                <h3>Full Stack web developer </h3>
                <!-- <span>Product Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <p style="text-align:left;">An engineer known as a full stack developer works on both the onsite and server sides of the software programme. This kind of developer works on the entire software stack, including the front end, back end, database, server, API, and version control systems. Thus, "Full Stack" Developer was coined. 

                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="onsite-card">
               
                <h3>Front End developer </h3>
                <!-- <span>Product Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <p style="text-align:left;"> 

                    The core and subject of computer science development, known as front end based on web development, focuses on coding and building what is visible, primarily in online apps or web sites. In addition to typical development processes and procedures, it also covers the creation of mobile apps. A front end developer is in charge of designing the layout or schema of these kinds of applications. 
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="onsite-card">
                
                <h3>Data science and Machine learning Engineer </h3>
                <!-- <span>T-shirt Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <div>
                    <p style="text-align:left;">
                        Data science is a discipline of study that combines subject-matter knowledge, programming abilities, and competence in math and statistics to draw forth important insights from data. Data scientists use machine learning algorithms on a variety of data types, including numbers, text, photos, video, and audio, to create artificial intelligence (AI) systems that can carry out activities that often require human intelligence. The insights these technologies produce can then be transformed into real commercial value by analysts and business users. 

                   </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="onsite-card">
                
                <h3>DevOps  </h3>
                <!-- <span>T-shirt Designer</span> -->
                <!-- <ul>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul> -->
                <div>
                    <p style="text-align:left;">
                        A compound of development (Dev), security (SEC) and operations (Ops), DevOps is the union of people, process, and technology to continually provide value to customers. DevOps influences the application lifecycle throughout its plan, develop, deliver, and operate phases. Each phase relies on the others, and the phases are not role-specific. In a true DevOps culture, each role is involved in each phase to some extent.
                   </p>
                </div>
                
            </div>
        </div>
        </div> 
</div>

<app-footer-style-two></app-footer-style-two>
