<app-navbar-style-one></app-navbar-style-one>

<div class="service-dtls-slider owl-carousel owl-theme">
    
    <div class="service-dtls-item">
        
        <img src="assets/img/VD.jpg" alt="Images" >
    <div class="image-content" ><h1> About Us </h1></div>
        <div class="bottom-left"><a routerLink="/" style="color: black;">Home</a></div>
    </div>

    <div class="service-dtls-item">
         <img src="assets/img/u2.jpg" alt="Images">
         <div class="image-content" ><h1>  About Us</h1></div>
        <div class="bottom-left"><a routerLink="/" style="color: black;">Home</a></div>
    </div>
</div>
<!-- <div class="service-dtls-slider owl-carousel owl-theme">
<div class="inner-head inner-bg11"> 
     <div class="container">
        <div class="inner-title">
             <h3>About Us</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                 <li>About Us</li> 
            </ul>
        </div>
    </div> 
    
</div>  -->
<!-- </div> -->
<div class="client-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
             <!-- <span>Testimonial</span>  --></div>
            <h2 style="text-align: center;"> About Us</h2>
            <p>Organization and industry professional across globe trust our purpose and value our partnership for empowering the youths of India into a generation of energetic and vibrant digital workforce. We serve to make you better.</p>
              <p>  We bring the knowledge from the global community to the common man through technology upskillment programs and empower them with the required soft skills to make them employable as the global workforce. We will train you to make you globally competitive to experts.The world today is the land of urban and rural human civilization. We create the roadmap to success and joy for the youth in rural communities by exposing them to products, Technologies, Culture and Urban lifestyle through global experts. Our program is a journey for fresh graduates in villages and townships to metropolitan cities by transforming their thoughts and capacities.</p>
        
       
        <div class="row pt-45 ">
            <div class="col-lg-6">
                <div class="client-card">
                    <img src="assets/img/vission.jpg" alt="Images">
                    <h3>MISSION</h3>
                    <!-- <span>Product Designer</span> -->
                    <!-- <ul>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                    </ul> -->
                    <p style="text-align:left;">We pledge to shoulder the dreams and aspirations of
                        every youth in tier 2 and tier 3 cities of India and make it a reality.
                         We create opportunities to access the wealth of intelligence from our 
                         professional networks across 244 countries of the world. We offer exposure
                          to high-end business technology that helps global giants in their 
                          competition. We support our youths from the rural cities to lead the 
                          journey of success
                          for fortune companies and multinational corporations.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                
                <div class="client-card " >
                    <img src="assets/img/mission.jpg" alt="Images">
                    <h3>VISION</h3>
                    <!-- <span>T-shirt Designer</span> -->
                    <!-- <ul>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                    </ul> -->
                    <div>
                        <p style="text-align:left;">
                            We are an esteemed partner of globally located digital experts with deep expative in the areas of trending technologies. Ourparners help fortune 500 companies across globe to stay ahead of their competitors through developmentof disruptive digital platforms, meeting the requirementsof the multinational businesses. We are provide the highest quality training to students, nurture their talent, promote intellectual growth and shape their personal development.
                       </p>
                    </div>
                    
                </div>
           
            </div>

            <!-- <div class="col-lg-6">
                <div class="client-card">
                    <img src="assets/img/testimonial/testimonial5.jpg" alt="Images">
                    <h3>Annie Smith</h3>
                    <span>Mockup Specialist</span>
                    <ul>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                    </ul>
                    <p>“Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.”</p>
                </div>
            </div> -->

            <!-- <div class="col-lg-6">
                <div class="client-card">
                    <img src="assets/img/testimonial/testimonial4.jpg" alt="Images">
                    <h3>Knot Doe</h3>
                    <span>llustrator Designer</span>
                    <ul>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                        <li><i class='bx bxs-star'></i></li>
                    </ul>
                    <p>“Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.”</p>
                </div>
            </div> -->

            <!-- <div class="col-lg-12">
                <div class="pagination-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link page-links" routerLink="/testimonial"><i class='bx bx-chevrons-left'></i></a></li>
                            <li class="page-item current"><a class="page-link" routerLink="/testimonial">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/testimonial">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/testimonial">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/testimonial"><i class='bx bx-chevrons-right'></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </div>
    </div>
</div>






<app-footer-style-two></app-footer-style-two>



